# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/dist
/build

# Miscellaneous
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE/Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Security scans & secret credential keys
*.pem
*.key
credentials.json
aws-keys.csv
gcp-key.json
azure-credentials.json
backend/config/gcp-key.json
backend/config/azure-credentials.json
backend/src/clean_old_azure.js
backend/src/trigger_rules_test.js

# Project Documentation
docs/
